/* GLOBAL CSS SECTION */
.wBody {
    /* display: grid;
    margin: auto; */

}

body {
    background-color: #C1C1C1;
    margin: auto;
    padding: 75px;
    max-width: 1000px;
    /*i used this to check*/
    /* border: 2px solid rgb(0, 0, 0);  */
}
.anybody {
    font-family: 'Anybody', sans-serif; 
}

.epilogue {
    font-family: 'Epilogue', sans-serif;
}
/* GLOBAL COLORED ELEMENTS */

.purple {
    background-color: #E39FF6;
}

.gray {
    background-color: #292929;
}

.gray a {
    color: #fff;
}

a {
    color: #000;
}
/* HIDE SCROLLBAR */
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}





/* HEADER CSS SECTION */

header {
    /* display: grid;
    border: 2px solid rgb(0, 0, 0);
    grid-template-columns: repeat(6,1fr); 
    grid-column-gap: 10px;  */
}

.navbar {
    /* display: grid;
    border: 2px solid rgb(0, 0, 0);
    grid-template-columns: repeat(6,1fr); 
    grid-column-gap: 10px;  */
}

.navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* display: inline-block; */
    display: grid;
    /* border: 2px solid rgb(0, 0, 0); */
    grid-template-columns: repeat(6,1fr); 
    grid-column-gap: 2px;
    text-align: center;   
}

.navbar nav li {
    /* display: inline-block; */
    outline: 2px black solid;
    padding: 3%;
}

.navbar nav li a {
    text-decoration: none;
    font-family: 'Anybody', sans-serif;  
    font-weight: 500;
    font-size: 25px;
    /* color: #000; */
}  

/* BODY CSS SECTION */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    outline: 2px black solid;
    width: 100%;
}

.gridsm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    width: 100%;
    height: 100%;
}

.gridsm2 {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
}

.center {
    justify-items: center;
    align-items: center;
}

.text_center {
    text-align: center;
}

.flex {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ABOUT ME SECTION */
.abtMe {  
    /* grid-gap: 15px; */
    /* border: 2px solid rgb(0, 0, 0); */
    border-top: 0;
}

.abtText {
    grid-column: 1/2;
    grid-row: 1/11;
    border-bottom: 2px black solid;
    padding-left: 40px;
    padding-top: 70px;
    border-right: 1px black solid;
    /* background: green; */
}

.abtText p:nth-child(1){
    font-weight: 700;
    font-size: 30px;
}

.abtText p:nth-child(2) {
    font-weight: 400;
    font-size: 20px;
}

.abtDiscuss {
    grid-column:1/2;
    grid-row:11/12;
    border-right: 1px black solid;
}

.abtDiscuss a {
    text-decoration: none;
}

.abtDiscuss p:nth-child(1) {
    font-family: 'Anybody', sans-serif; 
    font-weight: 400; 
}
.abtPic {
    grid-column: 2/3;
    grid-row: 1/12;
    border-left: 1px black solid;
    background: white;
    margin-top: 2px;
}

.border1 {
    grid-column: 1/3;
    grid-row: 12/13;
    border-top: 2px black solid;
}

/* SERVICES SECTION */

.services {
    grid-template-columns: repeat(3, 1fr);
} 

.services .heading {
    grid-column: 1/4;
    padding-left: 20px;
    border-bottom: 1px black solid;
}

.serv1 {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.serv2 {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.box1 {
    grid-column: 1/2;
    grid-row: 2/4;
    border-right: 1px black solid;
}

.box2 {   
    grid-column: 2/3;
    grid-row: 2/4;
    border-right: 1px black solid;
    border-left: 1px black solid;
}

.box3 {   
    grid-column: 3/4;
    grid-row: 2/4;
    border-left: 1px black solid;
}

.box4 {   
    grid-column: 1/2;
    grid-row: 4/6;
    border-right: 1px black solid;
}

.box5 {   
    grid-column: 2/3;
    grid-row: 4/6;
    border-right: 1px black solid;
    border-left: 1px black solid;
}

.box6 {   
    grid-column: 3/4;
    grid-row: 4/6;
    border-left: 1px black solid;
}

.servAni {
    grid-column: 1/4;
    grid-row: 6/8;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.servContact {
    grid-column: 1/4;
    grid-row: 8/12;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    background-color: #2d2d2d;
}

.servContact1 {
    grid-column: 1/2;
    grid-row: 1/5;
}

.servContact1 h2 {
    color: #98ff98;
    text-transform:uppercase;
}

.servContact2 {
    grid-column: 2/3;
    grid-row: 1/5;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding: 0;
}
.servContact2 a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.servContact2 label {
    display: block;
    margin-top: 0.5em;
    font-size: 15px;
}

/* .servContact2 input .chk #text {
    font-size: 10px;
} */

.servContact2 input .anybody{
    display: block;
}

fieldset {
    margin: 0;
    padding: 0;
}

.inline {
    width: 90%;
    margin: 5px 0 0;
    vertical-align: middle;
}

input[type=checkbox] {
    /* width: unset; */
    margin: 5px 0 10px;
    vertical-align: middle;
}

button[type=submit] {
    width: 92%;
    cursor: pointer;
    font-size: 1.5em;
    background-color: #E39FF6;
    border: 0;
}

fieldset {
    border: none;
}

.border2 {
    grid-column: 1/4;
    grid-row: 12/13;
    border-top: 1px black solid;
}

.textarea {
    background-color: rgba(41, 41, 41, 0.229);
    border: 1px solid rgba(193, 193, 193, 0.833);
    /* color: #292929 ; */
    min-height: 2em
}

/* WORK CSS SECTION */
.work .heading {
    grid-column: 1/4;
    padding-left: 20px;
    border-bottom: 1px black solid;
}



/*ABOUT ME SECTION*/

.blog .heading {
    grid-column: 1/4;
    padding-left: 20px;
    border-bottom: 1px black solid;
}
.contain-blog {
    grid-column: 1/4;
    grid-row: 2/7;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.leftBlog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    
}

.rightBlog {
    background-color: #2d2d2d;
}

.blog .border1 {
    grid-column: 1/4;
    grid-row: 7/8;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.blog .blogContact {
    grid-column: 1/4;
    grid-row: 8/12;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    background-color: #2d2d2d;
}

.blog .abtMe {
    grid-column: 1/4;
    grid-row: 1/5;
    /* background-color: wheat; */
    border-bottom: 1px black solid;
    
}

.contact .heading {
    grid-column: 1/4;
    padding-left: 20px;
    border-bottom: 1px black solid;
}

.abtMe .abtMetxt {
    width: 60%;
    margin-top: 20px;
    margin-left: 30px;
    
}



/*ABOUT ME SECTION BOXES*/

.textcenter {
    text-align: center;
}

.textcenter a {
    text-decoration: none;
}

.bTop {
    border-top: 1px black solid;
}

.bRight {
    border-right: 1px black solid;
}

.bLeft {
    border-left: 1px black solid;
}

.bDown {
    border-bottom: 1px black solid;
}

/*CONTACT SECTION */

.cont_contact {
    grid-column: 1/4;
    grid-row: 3/8;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.cont_contact1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.cont_contact1 .heading {
    height: 30px;
    border-bottom: 2px black solid;
}

.cont_contact1 .disc_proj {
    padding: 30PX 20px 0;
}

.cont_contact1 .disc_proj i {
    /* outline: 1px #98ff98 outset; */
    padding-right: 5px;
}

.cont_contact1 .disc_proj a {
    text-decoration: none;
}

.cont_contact2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.cont_contact2 .heading {
    height: 30px;
    border-bottom: 2px black solid;
}

.cont_contact2 .cont_1 {
    padding: 30px 20px 0;
    background-color: lightblue;
    flex: 4 1 auto;
}

.cont_contact2 .cont_2 {
    background-color: #2d2d2d;
}

.cont_contact2 .cont_2 p{
    text-align: center;
    background-color: #2d2d2d;
}

.cont_contact2 .cont_2 p a {
    color: #fff;
    text-decoration: none;
}

.othrDetails {
    grid-column: 1/4;
    grid-row: 10/13;
    border-top: 1px black solid;
}

.otherDetails_cont {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.othrDetails .othrContact {
    grid-column: 5/7;
    grid-row: 1/4;
    padding-top: 15px;
    padding-left: 5px;
}

.othrDetails .PrvUsrAgreement {
    grid-column: 1/5;
    grid-row: 2/4;
    padding-top: 20px;
}

.othrDetails a {
    text-decoration: none;
}

.flex2 {
    display: flex;
    height: 82.3%;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

/*GO TO TOP BUTTON*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #E39FF6;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }