/* GLOBAL CSS SECTION */
.wBody {
    /* display: grid;
    margin: auto; */

}

body {
    background-color: #C1C1C1;
    margin: auto;
    padding: 75px;
    max-width: 1000px;
}
.anybody {
    font-family: 'Anybody', sans-serif; 
}

.epilogue {
    font-family: 'Epilogue', sans-serif;
}
/* GLOBAL COLORED ELEMENTS */

.purple {
    background-color: #E39FF6;
}

.gray {
    background-color: #292929;
}

.gray a {
    color: #fff;
}

a {
    color: #000;
}
/* HEADER CSS SECTION */

